@import "./abstracts/variables";
@import "./base/reset", "./base/typography";
@import "./components/buttons", "./components/dropdown", "./components/inputs", "./components/form", "./components/errorMessages";

* {
    box-sizing: border-box;
}

body {
    font-family: $mainFontFamily;
}

.container {
    height: 100%;
    width: 100%;
}
