html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.customRadioButton {
  min-width: 23px;
  height: 23px;
  width: 23px;
  border: 1px solid #999999;
  background-color: #ffffff;
  margin: 0 9px;
  border-radius: 50%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.customRadioButton:hover {
  background-color: #6d2f74;
}

.checked {
  border: 1px solid #6d2f74;
}

.oval2 {
  display: none;
}

.display {
  display: block;
  margin: auto;
  margin-top: 3px;
}

.registerButton {
  /* Style for "base" */
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#62b3e3), to(#45a0ce));
  background-image: linear-gradient(180deg, #62b3e3 0%, #45a0ce 100%);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
  cursor: pointer;
}

.registerButtonText {
  /* Style for "sign up" */
  width: 184px;
  height: 26px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}

.disabled {
  cursor: not-allowed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#acacac));
  background-image: linear-gradient(180deg, #b3b3b3 0%, #acacac 100%);
}

.select2-selection--single:before {
  content: "";
  position: absolute;
  right: 7px;
  top: 42%;
  border-top: 5px solid #888;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.select2-container--open .select2-selection--single:before {
  border-top: 0;
  border-bottom: 5px solid #888;
}

.select2-container .select2-selection--single {
  height: 50px !important;
  color: #424242;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.select2-selection__rendered {
  padding: 15px;
}

.select2-container--reg-form.select2-container--open .select2-dropdown--below {
  border: none;
  color: #424242;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.select2-container--reg-form.select2-container--open .select2-dropdown--below .select2-results__option--highlighted {
  background: #f1f1f4;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.inputContainer label {
  position: absolute;
  pointer-events: none;
  -webkit-transform: translate(0, 25px) scale(1);
          transform: translate(0, 25px) scale(1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 16px;
  opacity: 0.8;
}

.inputContainer:focus-within label {
  -webkit-transform: translate(0, 12px) scale(0.8);
          transform: translate(0, 12px) scale(0.8);
  color: #6d2f74;
  opacity: 1;
}

.filled {
  -webkit-transform: translate(0, 12px) scale(0.8);
          transform: translate(0, 12px) scale(0.8);
}

.formInput {
  /* Style for "Mask" */
  max-width: 450px;
  height: 50px;
  border: 1px solid #6d2f74;
  background-color: #ffffff;
  margin-bottom: 6px;
  padding-left: 6px;
  outline: none;
}

.inputOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.inputCheckContainer {
  min-width: 23px;
  width: 23px;
  height: 23px;
  border: 1px solid #999999;
  background-color: #ffffff;
  margin-right: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.inputCheckContainer:hover {
  background-color: #6d2f74;
}

.inputCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}

.input-checked {
  background-color: #6d2f74;
}

* {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.form {
  max-width: 750px;
  margin: 0 auto;
}

.form h1 {
  max-width: 750px;
  color: #6d2f74;
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin: 25px 0;
}

.form label {
  color: #6d2f74;
  font-size: 0.800rem;
  font-weight: 600;
  line-height: 26px;
  white-space: nowrap;
  margin-right: 16px;
}

@media (max-width: 1024px) {
  .form {
    padding: 0 20px;
  }
}

.information {
  /* Style for "Register t" */
  max-width: 750px;
  color: #545559;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 41px;
}

.personalInformationHeading {
  /* Style for "Personal i" */
  width: 455px;
  color: #545559;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 6px;
}

.labelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.surveyQuestionHeading {
  /* Style for "What best" */
  width: 602px;
  color: #545559;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 36px;
  margin-bottom: 26px;
}

.inputOptionLabel {
  /* Style for "I have Hun" */
  width: 570px;
  color: #545559;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 26px;
}

.thankYou {
  /* Style for "Thank you." */
  max-width: 631px;
  color: #6d2f74;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 40px;
  margin-top: 14px;
}

.surveyQuestion2Heading {
  /* Style for "Is the per" */
  max-width: 657px;
  color: #545559;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 27px;
}

.surveyQuestion3Heading {
  /* Style for "Is the per" */
  max-width: 724px;
  color: #545559;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.privacyInformation {
  /* Style for "Your priva" */
  max-width: 730px;
  color: #545559;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 26px;
  margin-top: 34px;
}

.privacyNotice {
  /* Text style for "Privacy No" */
  color: #62b3e3;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.labelInputCheck {
  /* Style for "* I agree" */
  max-width: 720px;
  color: #545559;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 26px;
}

.authorizeTeva {
  /* Style for "I authoriz" */
  max-width: 730px;
  color: #545559;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 26px;
  margin-top: 18px;
}

.error {
  max-width: 455px;
  height: 50px;
  border: 2px solid #d0021b;
  background-color: #ffffff;
}

.form .label-error {
  color: #d0021b;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 26px;
  white-space: nowrap;
}

.form .empty-label {
  max-width: 146px;
  height: 12px;
  color: #d0021b;
  font-size: 0.625rem;
  font-weight: 500;
  font-style: italic;
  display: none;
  margin-top: 2px;
  white-space: nowrap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */