@import "../abstracts/variables";

.customRadioButton {
    min-width: 23px;
    height: 23px;
    width: 23px;
    border: 1px solid #999999;
    background-color: #ffffff;
    margin: 0 9px;
    border-radius: 50%;
    transition: 0.2s all;
}

.customRadioButton:hover {
    background-color: $mainPurpleColor;
}

.checked {
    border: 1px solid $mainPurpleColor;
}

.oval2 {
    display: none;
}

.display {
    display: block;
    margin: auto;
    margin-top: 3px;
}

.registerButton {
    /* Style for "base" */
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #62b3e3 0%, #45a0ce 100%);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    cursor: pointer;
}

.registerButtonText {
    /* Style for "sign up" */
    width: 184px;
    height: 26px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.disabled {
    cursor: not-allowed;
    background-image: linear-gradient(180deg, #b3b3b3 0%, #acacac 100%);
}
