.select2-selection--single:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.select2-container--open .select2-selection--single:before {
    border-top: 0;
    border-bottom: 5px solid #888;
}

.select2-container .select2-selection--single {
    height: 50px !important;
    color: #424242;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.select2-selection__rendered {
    padding: 15px;
}

.select2-container--reg-form {
    &.select2-container--open {
        .select2-dropdown--below {
            border: none;
            color: #424242;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .select2-results__option--highlighted {
                background: #f1f1f4;
            }
        }
    }
}