.error {
    max-width: 455px;
    height: 50px;
    border: 2px solid #d0021b;
    background-color: #ffffff;
}

.form .label-error {
    color: #d0021b;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 26px;
    white-space: nowrap;
}

.form .empty-label {
    max-width: 146px;
    height: 12px;
    color: #d0021b;
    font-size: 0.625rem;
    font-weight: 500;
    font-style: italic;
    display: none;
    margin-top: 2px;
    white-space: nowrap;
}
