@import "../base/typography";

.form {
    max-width: 750px;
    margin: 0 auto;

    h1 {
        max-width: 750px;
        color: $mainPurpleColor;
        font-size: 2.25rem;
        font-weight: 400;
        letter-spacing: 0.6px;
        margin: 25px 0;
    }

    label {
        color: $mainPurpleColor;
        font-size: 0.800rem;
        font-weight: 600;
        line-height: 26px;
        white-space: nowrap;
        margin-right: 16px;
    }

    @media (max-width: 1024px){
        padding: 0 20px;
    }
}

.information {
    /* Style for "Register t" */
    max-width: 750px;
    color: $mainGreyColor;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 41px;
}

.personalInformationHeading {
    /* Style for "Personal i" */
    width: 455px;
    color: $mainGreyColor;
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 6px;
}

.labelContainer {
    display: flex;
    align-items: center;
}

.surveyQuestionHeading {
    /* Style for "What best" */
    width: 602px;
    color: $mainGreyColor;
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 26px;
}

.inputOptionLabel {
    /* Style for "I have Hun" */
    width: 570px;
    color: $mainGreyColor;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 26px;
}

.thankYou {
    /* Style for "Thank you." */
    max-width: 631px;
    color: $mainPurpleColor;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 40px;
    margin-top: 14px;
}

.surveyQuestion2Heading {
    /* Style for "Is the per" */
    max-width: 657px;
    color: $mainGreyColor;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 27px;
}

.surveyQuestion3Heading {
    /* Style for "Is the per" */
    max-width: 724px;
    color: $mainGreyColor;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.privacyInformation {
    /* Style for "Your priva" */
    max-width: 730px;
    color: $mainGreyColor;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 26px;
    margin-top: 34px;
}

.privacyNotice {
    /* Text style for "Privacy No" */
    color: #62b3e3;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.labelInputCheck {
    /* Style for "* I agree" */
    max-width: 720px;
    color: $mainGreyColor;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 26px;
}

.authorizeTeva {
    /* Style for "I authoriz" */
    max-width: 730px;
    color: $mainGreyColor;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 26px;
    margin-top: 18px;
}
