.inputs {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    position: relative;
    width: 100%;

    label {
        position: absolute;
        pointer-events: none;
        transform: translate(0, 25px) scale(1);
        transform-origin: top left;
        transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        color: #6f81a5;
        font-size: 16px;
        line-height: 1;
        left: 16px;
        opacity: 0.8;
    }
}

.inputContainer:focus-within label {
    transform: translate(0, 12px) scale(0.8);
    color: #6d2f74;
    opacity: 1;
}

.filled{
    transform: translate(0, 12px) scale(0.8);
}

.formInput {
    /* Style for "Mask" */
    max-width: 450px;
    height: 50px;
    border: 1px solid $mainPurpleColor;
    background-color: #ffffff;
    margin-bottom: 6px;
    padding-left: 6px;
    outline: none;
}

.inputOption {
    display: flex;
    align-content: center;
}

.inputCheckContainer {
    min-width: 23px;
    width: 23px;
    height: 23px;
    border: 1px solid #999999;
    background-color: #ffffff;
    margin-right: 15px;
    transition: 0.2s all;
}

.inputCheckContainer:hover {
    background-color: $mainPurpleColor;
}

.inputCheck {
    display: flex;
    margin-bottom: 21px;
}

.input-checked {
    background-color: $mainPurpleColor;
}
