$mainFontFamily: "Montserrat", sans-serif;
$secondaryFontFamily:"DM Serif Display", sans-serif;


*{
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}